.App {
  text-align: center;
  background-color: #111;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn {
  background-color: #fff;
  color: #111;
  padding: 2vh
}